@use 'index'

.header
  font-family: 'Playwrite IN', serif
  text-align: center
  margin: 5px

.intro
  display: flex
  align-items: center
  justify-content: center
  width: 819px
  margin-top: 0
  margin-bottom: 30px
  margin-left: 480px
  font-weight: bold
  font-size: 15px
  font-family: 'Playwrite IN', serif;

.resources-header
  text-align: center
  font-family: 'Playwrite IN', serif;
  margin: 0

.map
  display: grid
  grid-template-columns: repeat(5, 1fr) 
  grid-template-rows: repeat(5, 1fr) 
  gap: 2px
  border: 1px solid #77a662
  width: 500px
  height: 500px
  margin: auto  

.tile
  background-color: #fff5c2
  border: 1px solid #77a662
  width: 100%
  height: 100%
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  transition: background 0.2s ease-in-out

  &:hover
    background-color:#b4cca9

.improvement-label
  font-size: 11px
  font-weight: bold
  color: #635b46
  font-family: 'Playwrite IN', serif;

.improvement-icon
  width: 65px
  height: 65px
  display: flex
  align-items: center
  justify-content: center

.game-container
  display: flex
  justify-content: center
  align-items: flex-start
  margin-top: 0
  padding-top: 0

.resources
  position: absolute
  left: 17em
  top: 11em
  flex-direction: column
  align-items: flex-start
  width: 200px

.resource-line
  display: flex
  justify-content: space-between
  width: 100%
  padding: 6px 0
  font-size: 16px
  border: 1px solid #77a662
  background-color: #fff5c2
  padding: 10px

.dialog-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-top: 10px

.dialog
  background: white
  padding: 20px
  border-radius: 8px
  text-align: center
  width: 300px

  button
    display: block
    margin: 10px auto
    padding: 10px
    width: 100%
    border: none
    border-radius: 5px
    cursor: pointer
    font-size: 16px

  .close-btn
    background:  #77a662
    color: white

.cost-details
  position: absolute
  top: 20em
  left: 80em
  width: 310px
  height: 120px
  transform: translateX(-50%)
  background-color: #fff5c2
  padding: 10px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  border-radius: 8px
  z-index: 10

.upgrade-wrapper
  display: block

.upgrade-dialog
  position: absolute
  top: 10em
  right: 23em
  background: white
  padding: 20px
  border-radius: 8px
  text-align: center
  width: 300px

  button
    display: block
    margin: 10px auto
    padding: 10px
    width: 100%
    border: none
    border-radius: 5px
    cursor: pointer
    font-size: 16px

.level-badge
  color: #635b46
  font-size: 12px
  font-family: 'Playwrite IN', serif;

.popup-container 
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #635b46
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
  z-index: 1000
  width: 300px
  text-align: center

.overlay 
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  z-index: 999

.border-image
  position: fixed
  top: 0