@use 'index'

.header
  font-family: 'Playwrite IN', serif
  text-align: center
  margin: 5px
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05)

.intro
  margin-top: 10px
  margin-bottom: 30px
  margin-left: 28em
  font-size: 18px
  font-family: "Arial", "Helvetica Neue", sans-serif
  letter-spacing: 0.3px
  padding: 10px
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05)
  font-weight: 300

.resources-container
  position: absolute
  left: 17em
  top: 11em
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 200px

.resources-header
  text-align: center
  font-family: 'Playwrite IN', serif
  margin: 0
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05)

.resource-line
  display: flex
  justify-content: space-between
  width: 100%
  padding: 6px 0
  font-size: 16px
  border: 1px solid #77a662
  background-color: #fff5c2
  padding: 10px

.reset-button
  margin-top: 10px
  background-color: #77a662
  color: white
  padding: 10px 20px
  font-size: 16px
  border: none
  border-radius: 5px
  cursor: pointer

.map
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(5, 1fr)
  gap: 2px
  border: 1px solid #77a662
  width: 500px
  height: 500px
  margin: auto
  box-sizing: border-box

.tile
  background-color: #fff5c2
  border: 1px solid #77a662
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  position: relative
  overflow: hidden

  &:hover
    background-color: #b4cca9

.improvement-label
  display: block
  text-align: center
  margin-top: 5px
  font-size: 12px
  font-weight: bold
  color: #635b46
  font-family: 'Playwrite IN', serif


.improvement-icon
  max-width: 40%
  max-height: 40%
  object-fit: contain
  display: block
  margin: auto


.game-container
  display: flex
  justify-content: center
  align-items: flex-start
  margin-top: 0
  padding-top: 0

.dialog-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-top: 10px
  z-index: 100

.dialog
  position: relative
  background: white
  padding: 20px
  border-radius: 8px
  text-align: center
  width: 300px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  button
    display: block
    margin: 10px auto
    padding: 10px
    width: 100%
    border: none
    border-radius: 5px
    cursor: pointer
    font-size: 16px

  .close-btn
    background: #77a662
    color: white

  .cost-details
    position: absolute
    top: 10px
    right: -310px
    width: 280px
    background-color: #fff5c2
    padding: 10px
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    border-radius: 8px
    z-index: 200
    text-align: left
    font-size: 18px

    p
      font-weight: bold
      margin-bottom: 5px

    ul
      padding-left: 20px
      margin: 5px 0

.upgrade-wrapper
  display: block

.upgrade-dialog
  position: absolute
  top: 10em
  right: 23em
  background: white
  padding: 20px
  border-radius: 8px
  text-align: center
  width: 300px

  ul
      padding-left: 20px
      margin: 0
    
  li
    text-align: left
    padding: 1px
    font-size: 17px

  button
    display: block
    margin: 10px auto
    padding: 10px
    width: 100%
    border: none
    border-radius: 5px
    cursor: pointer
    font-size: 16px
    color: #635b46

.level-badge
  color: #635b46
  font-size: 12px
  font-family: 'Playwrite IN', serif
   display: block
  text-align: center

.popup-container
  position: fixed
  top: 20%
  left: 50%
  transform: translateX(-50%)
  background-color: #635b46
  color: white
  padding: 20px
  border-radius: 10px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
  z-index: 1000
  width: 300px
  text-align: center

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  z-index: 999

.border-image
  position: fixed
  top: 0

.border2
  position: fixed
  top: 0
  right: 0