@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

body
    margin: 0
    color: #635b46
    font-family: Arial, sans-serif
    background: url('./assets/Background.png') repeat
    background-size: auto
    margin: 0
    height: 90vh
    width: 100vw