.tile
  background-color: #ecf2f4
  border: 1px solid #5a7d7c
  width: 100%
  height: 100%
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  transition: background 0.2s ease-in-out

  &:hover
    background-color: #e36940


// For the texts of the improvements we're currently using
.improvement-label
  font-size: 25px
  font-weight: bold
  color: black
  text-align: center
  text-transform: capitalize

.improvement
  width: 30px
  height: 30px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  image-rendering: pixelated

//Placeholders for the improvements...

// .house-placeholder
//   background-color: grey

// .field-placeholder
//   background-color: green

// .pasture-placeholder
//   background-color: yellow

// .lumber-mill-placeholder
//   background-color: brown

// .well-placeholder
//   background-color: blue